@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inter:wght@400;500;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.p{
    width: 30%;
    height: 26vh;
    margin: 15px 5px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.p-browser{
    height: 20px;
    background-color: rgb(181, 180, 180);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    justify-content: right;
}

.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}

.p-img{
    width: 100%;  
    transition: all 10s ease; 
}

.p:hover .p-img{
    transform: translateY(-60%);
}

@media screen and (max-width: 480px) {
    .p{
        width: 40%;
        height: 15vh;
     }

     .p-browser{
        height: 10px;
     }

     .p-circle{
        width: 3px;
        height: 3px;
     }
     .p:hover .p-img{
        transform: none;
    }
    }