.t{
    width: 50px;
    height: 25px;
    display: flex;
    background: none;
    background-color: none;
    align-items: center;
}

.t-icon{
    width: 23px;
    height: 20px;
    left: 2px;
    position: absolute;
}

.t-icon1{
    width: 23px;
    height: 20px;
    right: 2px;
    position: absolute;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

@media screen and (max-width: 480px) {
    .t{
    margin-top: 10px;
    margin-right: 5px;
    z-index: 9999;
    position: fixed;
    scroll-behavior: smooth;
    }

    .t-icon{
        position: relative;
    }
    
    .t-icon1{
        position: relative;
    }
    

    .t-button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
    }
}