.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: white;
    position:absolute;
    top: 5px;
    left: 50px;
    bottom: 5px; 
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 15px;
    height: 15px;
    position: relative;
    left: 0;
}

.t-icon1{
    width: 15px;
    height: 15px;
    position: relative;
    right: 0;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    position: absolute;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .t{
    margin-top: 10px;
    margin-right: 5px;
    z-index: 9999;
    position: fixed;
    scroll-behavior: smooth;
    }

    .t-button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
    }
}