.t{
    width: 50px;
    height: 25px;
    display: flex;
    border-radius: 50px;
    border: 2px solid #fff;
    background-color: white;
    position:fixed; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    z-index: 9999;
    align-items: center;
}

.t-icon{
    width: 25px;
    height: 20px;
    left: 0;
    position: relative;
}

.t-icon1{
    width: 25px;
    height: 20px;
    right: 0;
    position: relative;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .t{
    margin-top: 10px;
    margin-right: 5px;
    z-index: 9999;
    position: fixed;
    scroll-behavior: smooth;
    }

    .t-icon{
        position: relative;
    }
    
    .t-icon1{
        position: relative;
    }
    

    .t-button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}